<mat-toolbar color="white" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center" class="workluge">
    <img src="./assets/logo.png" alt="Logo"  >
  
  </div>

  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/project">Projects</a>
    <a mat-button routerLink="/portfolio">Portfolios</a>
    <a mat-button routerLink="/requests">Requests</a>
    <a mat-button routerLink="/reporting">Reporting</a>
    <a mat-button routerLink="/people">Peolple</a>
    <a mat-button routerLink="/timesheet">Timesheet</a>
    <a mat-button routerLink="/support">Support</a>
    
  </div>
  
</mat-toolbar>

