.example-container {
  width: 100vw;
  height: 100vh;
}
.custom-drawer {
  width: 200px; /* Adjust the width as per your requirements */
}
.custom-card {
  margin: 16px; /* Adjust the margin value as needed */
}

.drawer-list {
  list-style-type: none;
  padding: 0;
}

.drawer-list li {
  margin-bottom: 10px;
}

.mat-column-select,
.mat-column-name,
.mat-column-owner,
.mat-column-description,
.mat-column-weight,
.mat-column-symbol {
  border-right: 1px solid #ccc;
  
}

  
  